In [1]:
import pandas as pd
import numpy as np

In [2]:
oscars_main = pd.read_csv('data/processed/oscars_main.csv')
df_caracteristicas_actores = pd.read_csv('data/processed/df_caracteristicas_de_los_actores.csv')

In [ ]:
df_caracteristicas_actores.rename(columns = {'Nombre': 'name'}, inplace=True)
df_caracteristicas_actores.rename(columns = {'Pais': 'nacionalidad'}, inplace=True)


df_caracteristicas_actores.drop(columns = ['Año Ceremonia'], inplace=True)

df_caracteristicas_actores.columns = df_caracteristicas_actores.columns.str.lower().str.replace(' ', '_')

                name  edad           raza    nacionalidad
0      Emil Jannings    45         Blanca        Alemania
1      Warner Baxter    40         Blanca  Estados Unidos
2   Lionel Barrymore    53         Blanca  Estados Unidos
3      Wallace Beery    51         Blanca  Estados Unidos
4      Fredric March    37         Blanca  Estados Unidos
..               ...   ...            ...             ...
92   Anthony Hopkins    62         Blanca  Estados Unidos
93        Will Smith    45  Afroamericano  Estados Unidos
94    Brendan Fraser    41         Blanca  Estados Unidos
95     Colin Farrell    46         Blanca         Irlanda
96    Cillian Murphy    37         Blanca         Irlanda

[97 rows x 4 columns]

In [7]:
#df_caracteristicas_actores.head()
df_final = pd.merge(oscars_main, df_caracteristicas_actores, on='name', how='left')

df_final.to_csv('data/processed/oscars_main_2_con_caracteristicas_actores.csv', index=False)

df_final.head()

,year_ceremony,ceremony,film,winner,name,edad,raza,nacionalidad
0,1928,1,The Noose,False,Richard Barthelmess,NaN,NaN,NaN
1,1928,1,The Last Command,True,Emil Jannings,45.0,Blanca,Alemania
2,1929,2,Thunderbolt,False,George Bancroft,NaN,NaN,NaN
3,1929,2,In Old Arizona,True,Warner Baxter,40.0,Blanca,Estados Unidos
4,1929,2,Alibi,False,Chester Morris,NaN,NaN,NaN