In [1]:
import pandas as pd
import numpy as np

In [2]:
oscars_main = pd.read_csv('data/processed/oscars_main.csv')
df_caracteristicas_actores = pd.read_csv('data/processed/df_caracteristicas_de_los_actores.csv')

In [3]:
df_caracteristicas_actores.rename(columns = {'Nombre': 'name'}, inplace=True)
df_caracteristicas_actores.rename(columns = {'Pais': 'nacionalidad'}, inplace=True)


df_caracteristicas_actores.drop(columns = ['AÃ±o Ceremonia'], inplace=True)

df_caracteristicas_actores.columns = df_caracteristicas_actores.columns.str.lower().str.replace(' ', '_').str.strip()

In [4]:
#df_caracteristicas_actores.head()
oscars_main.drop(columns = ['ceremony'], inplace=True)

df_final = pd.merge(oscars_main, df_caracteristicas_actores, on='name', how='left')

df_final.to_csv('data/processed/oscars_main_2_con_caracteristicas_actores.csv', index=False)

df_final.head()

,year_ceremony,film,winner,name,edad,raza,nacionalidad
0,1928,The Noose,False,Richard Barthelmess,NaN,NaN,NaN
1,1928,The Last Command,True,Emil Jannings,45.0,Blanca,Alemania
2,1929,Thunderbolt,False,George Bancroft,NaN,NaN,NaN
3,1929,In Old Arizona,True,Warner Baxter,40.0,Blanca,Estados Unidos
4,1929,Alibi,False,Chester Morris,NaN,NaN,NaN