## Objetivo

Este proyecto está orientado a la creación de la guía del actor galardonado.

Nos basaremos en una concatenación de datos de distinto tipo (csv, dataframe propio y web scraping) para analizar los margenes a los que se puede asociar la cumbre de un actor, en este caso como meta con el premio oscar.

Buscaremos en ellos, los porcentajes que tienen que ver con la nacionalidad, la raza y la edad. 

Asociados con el director de las películas también más galardonadas.

Hablaremos, de si es influyente o no el presupuesto de la película y el porcentaje de taquilla.

Con todas estas conclusiones podemos ofertar una guia para futuros actores en los que poder brindarles unas directrices para optar al galardon, en base al analisis desde su priemr año de gala, 1928 y el último en 2024.

In [2]:
#En Primer lugar importamos librerias

In [2]:
import pandas as pd
import numpy as np

In [4]:
#Cargamos el primer csv, con el que miraremos la información para empezar a orientarnos.

In [4]:
oscar_df=pd.read_csv("data/the_oscar_award 1927 -2023.csv")

In [5]:
oscar_df.shape

(10759, 7)

In [7]:
oscar_df.describe().T

,count,mean,std,min,25%,50%,75%,max
year_film,10759.0,1976.048610,27.041631,1927.0,1952.0,1975.0,2000.0,2022.0
year_ceremony,10759.0,1977.048610,27.041631,1928.0,1953.0,1976.0,2001.0,2023.0
ceremony,10759.0,49.073334,26.999754,1.0,25.0,48.0,73.0,95.0

In [6]:
oscar_df.describe(include="object").T

          count unique                  top freq
category  10759    134            DIRECTING  459
name      10756   6947  Metro-Goldwyn-Mayer   64
film      10449   4990       A Star Is Born   25

In [9]:
#Vamos a crear un nuevo df con las caracteristicas que hemos importado, del cs con otras como la raza, edad y nacionalidad.

In [2]:
import pandas as pd
import numpy as np

# Definir los datos en un diccionario
data = { 'Año Ceremonia' : [1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1958,1949,1950,1951,1952,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1963,1965,1966,1967,1968,1969,1070,1071,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,201,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023],
    'Nombre': ["Emil Jannings", "Warner Baxter", "Lionel Barrymore", "Wallace Beery", "Fredric March", "Charles Laughton", "Clark Gable", "Victor McLaglen", "Paul Muni", "Spencer Tracy", "Spencer Tracy", "Robert Donat", "James Stewart", "Gary Cooper", "James Cagney", "Paul Lukas", "Bing Crosby", "Ray Milland", "Fredric March", "Ronald Colman", "Laurence Olivier", "Broderick Crawford", "José Ferrer", "Humphrey Bogart", "Gary Cooper", "William Holden", "Marlon Brando", "Ernest Borgnine", "Yul Brynner", "Alec Guinness", "David Niven", "Charlton Heston", "Burt Lancaster", "Maximilian Schell", "Gregory Peck", "Sidney Poitier", "Rex Harrison", "Lee Marvin", "Paul Scofield", "Rod Steiger", "Cliff Robertson", "John Wayne", "George C. Scott", "Gene Hackman", "Marlon Brando", "Jack Lemmon", "Art Carney", "Jack Nicholson", "Peter Finch", "Richard Dreyfuss", "Jon Voight", "Dustin Hoffman", "Robert De Niro", "Henry Fonda", "Ben Kingsley", "Robert Duvall", "F. Murray Abraham", "William Hurt", "Paul Newman", "Michael Douglas", "Dustin Hoffman", "Daniel Day-Lewis", "Jeremy Irons", "Anthony Hopkins", "Al Pacino", "Tom Hanks", "Tom Hanks", "Nicolas Cage", "Geoffrey Rush", "Jack Nicholson", "Roberto Benigni", "Kevin Spacey", "Russell Crowe", "Denzel Washington", "Adrien Brody", "Sean Penn", "Jamie Foxx", "Philip Seymour Hoffman", "Forest Whitaker", "Daniel Day-Lewis", "Sean Penn", "Jeff Bridges", "Colin Firth", "Jean Dujardin", "Daniel Day-Lewis", "Matthew McConaughey", "Eddie Redmayne", "Leonardo DiCaprio", "Casey Affleck", "Gary Oldman", "Rami Malek", "Joaquin Phoenix", "Anthony Hopkins", "Will Smith", "Brendan Fraser", "Colin Farrell", "Cillian Murphy"],
    'Edad': ["45", "40", "53", "51", "37", "34", "34", "49", "42", "36", "37", "33", "32", "41", "42", "50", "41", "38", "45", "52", "41", "44", "41", "54", "53", "35", "30", "42", "39", "53", "49", "36", "46", "41", "46", "37", "57", "49", "46", "45", "41", "62", "43", "41", "48", "48", "55", "38", "59", "41", "39", "37", "36", "76", "45", "47", "46", "45", "35", "61", "43", "51", "48", "45", "47", "55", "63", "39", "41", "38", "37", "44", "41", "30", "43", "37", "46", "37", "45", "47", "39", "41", "36", "62", "50", "43", "55", "44", "41", "33", "41", "44", "62", "45", "41", "46", "37"],
    'Raza': ["Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Hispano", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Afroamericana", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Afroamericana", "Blanca", "Blanca", "Afroamericana", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Afroamericana", "Blanca", "Blanca", "Blanca", "Blanca", "Blanca", "Afroamericana", "Blanca", "Blanca", "Blanca"],
    'Pais': ["Alemania", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Estados Unidos", "Reino Unido", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Estados Unidos", "Estados Unidos", "Hungría", "Estados Unidos", "Reino Unido", "Estados Unidos", "Reino Unido", "Estados Unidos", "Puerto Rico", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Rusia", "Reino Unido", "Reino Unido", "Estados Unidos", "Estados Unidos", "Austria", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Estados Unidos", "Australia", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Reino Unido", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Reino Unido", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Nueva Zelanda", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Estados Unidos", "Reino Unido", "Francia", "Reino Unido", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Reino Unido", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Estados Unidos", "Reino Unido", "Irlanda", "Irlanda", "Estados Unidos"]
}

# Comprobamos que todas las listas tenga la misma longitud y en caso de que no, agregamos NaN.( por los valores que nos faltan)
max_length = max(len(data['Nombre']), len(data['Año Ceremonia']), len(data['Edad']), len(data['Raza']), len(data['Pais']))

for key in data:
    while len(data[key]) < max_length:
        data[key].append(np.nan)

# Convertimos el diccionario en un dataframe nuevo, más especifico para tenrlo listo para hacer el merg.
df_caracteristicas_de_los_actores  = pd.DataFrame(data)

In [3]:
print (df_caracteristicas_de_los_actores)

    Año Ceremonia            Nombre Edad    Raza            Pais
0            1928     Emil Jannings   45  Blanca        Alemania
1            1929     Warner Baxter   40  Blanca  Estados Unidos
2            1930  Lionel Barrymore   53  Blanca  Estados Unidos
3            1931     Wallace Beery   51  Blanca  Estados Unidos
4            1932     Fredric March   37  Blanca  Estados Unidos
..            ...               ...  ...     ...             ...
92           2019   Anthony Hopkins   62  Blanca             NaN
93           2020        Will Smith   45  Blanca             NaN
94           2021    Brendan Fraser   41     NaN             NaN
95           2022     Colin Farrell   46     NaN             NaN
96           2023    Cillian Murphy   37     NaN             NaN

[97 rows x 5 columns]

In [40]:
#Empezaremos por tanto el proceso de limpieza en este nuevo df

In [41]:
#Como vemos, hay algunos valores erróneos, por lo que haremos cambios en las filas que tiene datos vacío o que están incorrectos.

In [4]:
df_caracteristicas_de_los_actores

    Año Ceremonia            Nombre Edad    Raza            Pais
0            1928     Emil Jannings   45  Blanca        Alemania
1            1929     Warner Baxter   40  Blanca  Estados Unidos
2            1930  Lionel Barrymore   53  Blanca  Estados Unidos
3            1931     Wallace Beery   51  Blanca  Estados Unidos
4            1932     Fredric March   37  Blanca  Estados Unidos
..            ...               ...  ...     ...             ...
92           2019   Anthony Hopkins   62  Blanca             NaN
93           2020        Will Smith   45  Blanca             NaN
94           2021    Brendan Fraser   41     NaN             NaN
95           2022     Colin Farrell   46     NaN             NaN
96           2023    Cillian Murphy   37     NaN             NaN

[97 rows x 5 columns]

In [5]:
df_caracteristicas_de_los_actores.loc[93, 'Raza'] = "Afroamericano"
df_caracteristicas_de_los_actores.loc[94, 'Raza'] = "Blanca"
df_caracteristicas_de_los_actores.loc[95, 'Raza'] = "Blanca"
df_caracteristicas_de_los_actores.loc[96, 'Raza'] = "Blanca"

In [28]:
#Los valores faltantes en raza, están terminados y corregidos.
#Ahora terminaremos las nacionalidades

In [6]:
df_caracteristicas_de_los_actores.loc[92, 'Pais'] = "Estados Unidos"
df_caracteristicas_de_los_actores.loc[93, 'Pais'] = "Estados Unidos"
df_caracteristicas_de_los_actores.loc[94, 'Pais'] = "Estados Unidos"
df_caracteristicas_de_los_actores.loc[95, 'Pais'] = "Irlanda"
df_caracteristicas_de_los_actores.loc[96, 'Pais'] = "Irlanda"

In [ ]:
#Valoremos los cambios

In [7]:
df_caracteristicas_de_los_actores

    Año Ceremonia            Nombre Edad           Raza            Pais
0            1928     Emil Jannings   45         Blanca        Alemania
1            1929     Warner Baxter   40         Blanca  Estados Unidos
2            1930  Lionel Barrymore   53         Blanca  Estados Unidos
3            1931     Wallace Beery   51         Blanca  Estados Unidos
4            1932     Fredric March   37         Blanca  Estados Unidos
..            ...               ...  ...            ...             ...
92           2019   Anthony Hopkins   62         Blanca  Estados Unidos
93           2020        Will Smith   45  Afroamericano  Estados Unidos
94           2021    Brendan Fraser   41         Blanca  Estados Unidos
95           2022     Colin Farrell   46         Blanca         Irlanda
96           2023    Cillian Murphy   37         Blanca         Irlanda

[97 rows x 5 columns]

In [8]:
df_caracteristicas_de_los_actores.describe(include='object').T

# exportamos el df a un csv para poder trabajar con el en el siguiente paso
df_caracteristicas_de_los_actores.to_csv('data/processed/df_caracteristicas_de_los_actores.csv', index=False)

In [ ]:
#Principales conclusiones
# 1) El actor más premiado es Daniel Day-Lewis.
# 2) La raza o etnia con más premios es la Blanca.
# 3) El país con mayor número de ganadores es Estados unidos.
# 4) La media de edad se situa en los 41 años.