In [1]:
import pandas as pd
import numpy as np

In [2]:
oscars_main = pd.read_csv('data/processed/oscars_main.csv')
df_caracteristicas_actores = pd.read_csv('data/processed/df_caracteristicas_de_los_actores.csv')

In [3]:
df_caracteristicas_actores.rename(columns = {'Nombre': 'name'}, inplace=True)
df_caracteristicas_actores.rename(columns = {'Pais': 'nacionalidad'}, inplace=True)


df_caracteristicas_actores.drop(columns = ['AÃ±o Ceremonia'], inplace=True)

df_caracteristicas_actores.columns = df_caracteristicas_actores.columns.str.lower().str.replace(' ', '_').str.strip()

In [4]:
#df_caracteristicas_actores.head()
oscars_main.drop(columns = ['ceremony'], inplace=True)

df_final = pd.merge(oscars_main, df_caracteristicas_actores, on='name', how='left')

# reorder columns in this order: name, edad, raza, nacionalidad, winner, film, year_ceremony
df_final = df_final[['name', 'edad', 'raza', 'nacionalidad', 'winner', 'film', 'year_ceremony']]

df_final.to_csv('data/processed/tabla_actores.csv', index=False)

df_final.head()

,name,edad,raza,nacionalidad,winner,film,year_ceremony
0,Richard Barthelmess,NaN,NaN,NaN,False,The Noose,1928
1,Emil Jannings,45.0,Blanca,Alemania,True,The Last Command,1928
2,George Bancroft,NaN,NaN,NaN,False,Thunderbolt,1929
3,Warner Baxter,40.0,Blanca,Estados Unidos,True,In Old Arizona,1929
4,Chester Morris,NaN,NaN,NaN,False,Alibi,1929